<div class="octopus">
  <div class="arm" style="transform: rotate(45deg);">Tata Neno</div>
  <!-- Ponavljanje za ostale krakove -->
</div>
<style>
.octopus {
  position: relative;
  width: 300px;
  height: 300px;
  background-image: url('hobotnica.png');
}
.arm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: 0.3s;
}
.arm:hover {
  transform: scale(1.1);
}
</style>
