/* Osnovni stilovi za veće zaslone (laptop i širi zasloni) */
.octopus-container {
  position: relative;
  width: 400px; /* Optimalna veličina za laptop */
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.octopus-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.arm {
  position: absolute;
  width: 120px; /* Širina kućica za laptop */
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  font-size: 14px; /* Veći font za laptop */
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  z-index: 2;
  transition: transform 0.3s, background-color 0.3s;
}

/* Stilovi za manje zaslone (mobitele) */
@media (max-width: 600px) {
  .octopus-container {
    width: 300px; /* Manja hobotnica za mobilne uređaje */
    height: 300px;
  }

  .arm {
    width: 90px; /* Manje kućice */
    height: 30px;
    font-size: 12px; /* Manji font za bolju preglednost */
    line-height: 30px;
  }

  .arm.tentacle1 {
    top: -10%; /* Pomicanje Tata Neno niže */
    left: 50%;
    transform: translate(-50%, 0);
  }

  .arm.tentacle2 {
    top: 5%;
    right: -10%;
  }

  .arm.tentacle3 {
    top: 50%;
    right: -15%;
  }

  .arm.tentacle4 {
    bottom: 5%;
    right: -10%;
  }

  .arm.tentacle5 {
    bottom: -25%; /* Lagano podizanje kućice broj 5 */
    left: 50%;
    transform: translate(-50%, 0);
  }

  .arm.tentacle6 {
    bottom: 5%;
    left: -10%;
  }

  .arm.tentacle7 {
    top: 50%;
    left: -15%;
  }

  .arm.tentacle8 {
    top: 5%;
    left: -10%;
  }
}

/* Stilovi za velike zaslone (laptopi i širi) */
@media (min-width: 1024px) {
  .octopus-container {
    width: 500px; /* Veća hobotnica za veće zaslone */
    height: 500px;
  }

  .arm {
    width: 140px; /* Veće kućice */
    height: 50px;
    font-size: 16px; /* Veći font za preglednost */
    line-height: 50px;
  }

  .arm.tentacle1 {
    top: -10%; /* Pomicanje Tata Neno niže */
    left: 50%;
    transform: translate(-50%, 0);
  }

  .arm.tentacle2 {
    top: 10%;
    right: -15%;
  }

  .arm.tentacle3 {
    top: 50%;
    right: -20%;
  }

  .arm.tentacle4 {
    bottom: 10%;
    right: -15%;
  }

  .arm.tentacle5 {
    bottom: -10%; /* Poravnanje kućice broj 5 */
    left: 50%;
    transform: translate(-50%, 0);
  }

  .arm.tentacle6 {
    bottom: 10%;
    left: -15%;
  }

  .arm.tentacle7 {
    top: 50%;
    left: -20%;
  }

  .arm.tentacle8 {
    top: 10%;
    left: -15%;
  }
}
