 .octopus-container {
  position: relative;
  width: 500px; /* Povećanje veličine za bolju čitljivost */
  height: 500px; /* Povećanje veličine za bolju čitljivost */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.octopus-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Osigurava da je hobotnica u pozadini */
}

/* Krakovi hobotnice */
.arm {
  position: absolute;
  width: 80px; /* Širina kućice */
  height: 40px; /* Visina kućice */
  text-align: center;
  line-height: 40px; /* Vertikalno centriranje teksta */
  background-color: rgba(0, 123, 255, 0.8); /* Plava boja za kontrast */
  color: white;
  font-weight: bold;
  border-radius: 8px;
  z-index: 2; /* Osigurava da kućice budu iznad hobotnice */
  transition: transform 0.3s, background-color 0.3s;
}

.arm:hover {
  transform: scale(1.2);
  background-color: rgba(255, 193, 7, 0.9);
  cursor: pointer;
}

/* Pozicioniranje krakova prema kućicama */
.arm.tentacle1 {
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

.arm.tentacle2 {
  top: 20%;
  right: 20%;
}

.arm.tentacle3 {
  top: 50%;
  right: 5%;
}

.arm.tentacle4 {
  bottom: 20%;
  right: 20%;
}

.arm.tentacle5 {
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

.arm.tentacle6 {
  bottom: 20%;
  left: 20%;
}

.arm.tentacle7 {
  top: 50%;
  left: 5%;
}

.arm.tentacle8 {
  top: 20%;
  left: 20%;
}
